<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div id="login-box" style="border:1px solid #e5e5e5;width: 167px;height: 142px;


        position: absolute;

        left:50%;

        top:30%;padding:15px;

        margin-top: -50px;

        margin-left: -50px;">
        <div style="margin-bottom:15px">
            <a href="/oauth2/authorization/github" class="btn btn-primary btn-lg btn-blockactive" role="button">GitHub 登录</a>
        </div>
        <div>
            <a href="/oauth2/authorization/alphax" class="btn btn-primary btn-lg btn-blockactive" role="button">AlphaX 登录</a>
        </div>
    </div>
</div>
</body>
</html>